@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Pacifico');



nav{
	background-color:#1abc9c;
	font-family: 'Lato', sans-serif;
}
.nav-link{
	color:white !important;
	font-family: 'Lato', sans-serif;
}
footer{
	background-color:#1abc9c;
	color:white;
	font-family: 'Lato', sans-serif;
}
.taille{
	border: 1px;
	height:800px;
	max-height:100%;
    overflow:hidden;
    overflow-y:auto;
}
.nav-link{
	font-size:1rem;
}
.nav-link:hover {
	color:white;
}

.nav-link:hover:after {
	content: "😊";
}
.btn-lg {
	background-color: #1ABC9C !important;
	color: white !important;
}
.foot-link{
	color:white !important;
	font-family: 'Lato', sans-serif;
}

.foot-link{
	font-size:1rem;
}
.foot-link:hover {
	color:white;
}

.foot-link:hover:after {
	content: "😊";
}

h3{
	color: #1ABC9C;
}