@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Heebo');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Pacifico');



body{
	background-color: #121212;
	color: white;
}

nav{
	background-color:#282828 !important;
	font-family: 'Lato', sans-serif;
}
.nav-link{
	color:#1ABC9C !important;
	font-family: 'Lato', sans-serif;
}
footer{
	background-color:#282828;
	color:#1ABC9C;
	font-family: 'Lato', sans-serif;
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
}

#send{
	color: white !important;
}
.taille{
	border: 1px;
	max-height:100%;
    overflow:hidden;
    overflow-y:auto;
}
.nav-link{
	font-size:1rem;
}
.nav-link:hover {
	color:white;
}

.nav-link:hover:after {
	content: "😊";
}
.btn-lg {
	background-color: #1ABC9C !important;
	color: #1abc9c !important;
}
.foot-link{
	color: #1abc9c !important;
	font-family: 'Lato', sans-serif;
}

.foot-link{
	font-size:1rem;
}
.foot-link:hover {
	color:1abc9c;
}

.foot-link:hover:after {
	content: "😊";
}

h3{
	color: #1ABC9C;
}